@page "/Select"
@using System.Data.SqlClient
@using BlazorADONET.Services
@using Domain_Models
@inject IDatabaseService DatabaseService

<h1>Select Component</h1>

<select @bind="selectedOption">
    @foreach (var columnName in columnNames)
    {
        <option value="@columnName">@columnName</option>
    }
</select>


<input @bind="searchValue" placeholder="Enter value" />

<button @onclick="Search">Search</button>

@if (persons != null && persons.Count >= 1)
{
    foreach (var person in persons)
    {
        <div class="card">
            <div class="card-body">
                <div class="card-content">
                    <h5 class="card-title">PersonID: @person.PersonID</h5>
                    <div class="name-container">
                        <p class="first-name">FirstName: @person.FirstName</p>
                        <p class="last-name">LastName: @person.LastName</p>
                    </div>
                </div>
            </div>
        </div>
    }
} else
{
    <div class="card">
        <div class="card-body">
            <div class="card-content">
                <p> Ingen data som matcher i databasen </p>
            </div>
        </div>
    </div>
}

@code {
    private string selectedOption = "PersonID";
    private string searchValue = "";
    private List<Person> persons;
    List<string> columnNames = new List<string>();


    protected override async Task OnInitializedAsync()
    {
        columnNames = DatabaseService.GetColumnNames();
    }
    private void Search()
    {
        persons = DatabaseService.SearchPersons(selectedOption, searchValue);
    }

}