@page "/Select"
@using System.Data.SqlClient
@using BlazorADONET.Services
@using Domain_Models
@inject IDatabaseService DatabaseService

<h1>Select Component</h1>

<select @bind="selectedOption">
    @foreach (var columnName in columnNames)
    {
        <option value="@columnName">@columnName</option>
    }
</select>


<input @bind="searchValue" placeholder="Enter value" />

<button @onclick="Search">Search</button>

@if (persons != null && persons.Count >= 1)
{
    foreach (var person in persons)
    {
        <div class="card">
            <div class="card-body">
                <div class="card-content">
                    <h5 class="card-title">PersonID: @person.PersonID</h5>
                    <div class="name-container">
                        <p class="first-name">FirstName: @person.FirstName</p>
                        <p class="last-name">LastName: @person.LastName</p>
                    </div>
                </div>
            </div>
        </div>
    }
} else
{
    <div class="card">
        <div class="card-body">
            <div class="card-content">
                <p> Ingen data som matcher i databasen </p>
            </div>
        </div>
    </div>
}
<style>
    .card {
        border: 1px solid #ccc;
        padding: 10px;
        margin: 20px;
        border-radius: 4px;
        box-sizing: border-box;
    }
    .card-container {
        display: grid;
        gap: 20px;
    }
    select {
        padding: 10px;
        font-size: 17px;
        border: 1px solid grey;
        width: 20%;
        background: #f1f1f1;
    }
    input {
        padding: 10px;
        font-size: 17px;
        border: 1px solid grey;
        width: 20%;
        background: #f1f1f1;
    }
    button {
        padding: 10px;
        font-size: 17px;
        background: #2196F3;
        color: white;
        border: 1px solid grey;
        cursor: pointer;
        width: 20%;
    }

        button:hover {
            background: #0b7dda;
        }

</style>

@code {
    private string selectedOption = "PersonID";
    private string searchValue = "";
    private List<Person> persons;
    List<string> columnNames = new List<string>();


    protected override async Task OnInitializedAsync()
    {
        columnNames = DatabaseService.GetColumnNames();
    }
    private void Search()
    {
        persons = DatabaseService.SearchPersons(selectedOption, searchValue);
    }

}